.selectorPopupDiv {
    position: absolute;
    top: 50px;
    /* center horizontally */
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topRowDiv {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

}
.selectMediaDropdown{
  position: relative;
  display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    top: 0;
    left: 0;
}
.confirmSelectionButton {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}
.displayViewDiv,
.displayViewDivShort {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    overflow: hidden;
    border: #fff solid 1px;

}
.displayViewDiv {
    height: 100%;
}
.displayViewDivShort{
  height: 75%;
  border: white solid 1px;

}
.displayBottomRow{
  position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    border: #fff solid 1px;

}

.addViewButton {
  width: 50px;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  display: inline-block;
  background-color: rgba(61, 109, 119, 0.5);
  border: 1px solid #fff;
  border-radius: 5px;
}
.desktopViewIcon {
  position: absolute;
  top: -13px;
  left: 0;
  border-radius: 50px;
  width: 776px;
  height: 436px;
  object-fit: cover;
  cursor: pointer;
}
.webcamView {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 4px solid #fff;
    overflow: hidden;
  }

.guestWalletIcon {
  position: relative;
  border-radius: 30px;
  width: 65px;
  height: 62px;
  flex-shrink: 0;
}
.rightButtonsDiv,
.centerButton {
  width: auto;
  height: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.centerButton{
  position:absolute;
  top: 50%;
  left: 50%;

  transform: scale(150%, 150%);
}
.rightButtonsDiv > * + * {
  margin-top: 38px;
}
.frameDiv2 {
  position: absolute;
  top: -13px;
  left: 0;
  width: 776px;
  height: 436px;
  display: flex;
  flex-direction: row;
  padding: 0 25px 99px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.frameDiv2 > * + * {
  margin-left: 10px;
}
.frameDiv1 {
  position: relative;
  width: 795px;
  height: 448px;
  flex-shrink: 0;
}
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.guestWalletIcon6 {
  position: relative;
  border-radius: 30px;
  width: 111px;
  height: 100px;
  flex-shrink: 0;
  overflow: hidden;
}
.rightButtonsDiv2 {
  width: auto;
  height: auto;
  flex-shrink: 0;
  flex-direction: column;
  padding: space-between;
  align-items: flex-start;
}
.bCSStreamdeckDiv,
.frameDiv3,
.rightButtonsDiv2 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.frameDiv3 {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.bCSStreamdeckDiv {
  position: relative;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(45px);
  border: 4px solid #fff;
  width: 100%;
  height: auto;
  overflow: hidden;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  gap: 20px;
}
