.catWalkBounary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.catContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 2;
    pointer-events: visible;
}
.catWalkDiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    font-size: 74px;
    font-weight: 900;
    pointer-events: none;
}