@keyframes jello-horizontal {
  0%,
  to {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.guestWalletIcon {
  position: absolute;
  top: 84px;
  left: 38px;
  border-radius: 5px;
  width: 64px;
  height: 108px;
  overflow: hidden;
}
.categoryTitleDiv {
  position: absolute;
  top: 19px;
  left: 98px;
  font-weight: 800;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.questIcon {
  position: absolute;
  top: 12px;
  left: 35px;
  border-radius: 5px;
  width: 57px;
  height: 51px;
  overflow: hidden;
}
.questHeadlineDiv {
  position: absolute;
  top: 64px;
  left: 42px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  width: 463px;
  height: 40px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: -4px;
  border-radius: 5px;
  width: 32px;
  height: 28px;
}
.settingButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 19px;
  left: 542px;
  width: 24px;
  height: 20px;
}
.settingButton:hover {
  display: flex;
  animation: 2s ease 0s 1 normal none jello-horizontal;
  opacity: 1;
}
.whiteBorderBlueBox {
  display: flex;
  position: relative;
  border-radius: 30px;
  background-color: rgba(61, 109, 119, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid #fff;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
}
.contentPlayerDiv:active,
.whiteBorderBlueBox:active {
  transform: rotate(0deg);
  animation: 1s ease 0s infinite normal none shadow-drop-bottom;
  opacity: 1;
}
.currentViewIcon,
.currentViewIcon1,
.currentViewIcon2 {
position: relative;
width: 33px;
height: 31px;
flex-shrink: 0;
overflow: hidden;
border-width: 5px;
border-style: solid;
border-color: #fff;
}
.currentViewIcon {
border-radius: 5px;
}
.currentViewIcon1 {
border-radius: 10px;
}

.currentViewIcon1,
.currentViewIcon2 {
width: 57px;
height: 54px;
}
.currentViewIcon2 {
border-radius: 15px;
width: 83px;
height: 79px;
}
.bountyPageCarousel {
box-sizing: border-box;
display: flex;
align-items: center;
}
.bountyPageCarousel {
width: 612px;
height: 84px;
flex-shrink: 0;
flex-direction: row;
padding: 0 42px;
justify-content: center;
gap: 10px;
}
.contentPlayerDiv,
.daliBox,
.daliBoxView {
  flex: 1;
  align-self: stretch;
  position: relative;
  border-radius: 30px;
  border: 3px solid #fff;
  box-sizing: border-box;
}
.daliBox,
.daliBoxView {
  display: flex;
  flex-direction: column;
  padding: 17px 30px;
  align-items: center;
  justify-content: flex-end;
  gap: 9px;
}
.daliBox{
  max-width: 25%;
}

.contentPlayerDiv {
  background-color: rgba(61, 109, 119, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.matterContentDisplay,
.matterModelDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.matterContentDisplay {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
}
.matterModelDiv {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(45px);
  width: 1920px;
  height: 1080px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 50px;
  box-sizing: border-box;
  gap: 50px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-family: Inter;
  border-radius: 50px; 
  border-width: 5px;
  border-style: solid;
}
